# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pkl

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.env/
.venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.local

# -----------------------------
# Generated Embeddings / Indexes
# -----------------------------
index/
faiss_index/
vectorstore/
/chroma/
/chromadb/


# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp
*.temp

# -----------------------------
# Streamlit Cache
# -----------------------------
.streamlit/

# -----------------------------
# Node (if frontend uses npm later)
# -----------------------------
node_modules/

# -----------------------------
# Build / Dist
# -----------------------------
dist/
build/